<html>
  <head>
    <meta charset="utf-8">
    <title>Rutgers Flyer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="/" class="brand-logo">Rutgers Flyer</a>
            <ul class="right hide-on-med-and-down">
              {{#if isAuthenticated}}
                <li><a href="/login">{{firstname}} {{lastname}}</a></li>
                <li><a href="/logout">Logout</a></li>
              {{else}}
              <li><a href="/login">Login</a></li>
              <li><a href="#!">Sign Up</a></li>
              {{/if}}
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <main>
      {{{ body }}}
    </main>



    <footer class="page-footer" id="myfooter">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Meet the developers..</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Alejandra Jurado</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">CB Moate</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">David Stichter</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2016 Rutgers Flyer
        </div>
      </div>
    </footer>

  </body>
  <script type="text/javascript" src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/events.js"></script>
</html>
