{{#if isAuthenticated}}
  <h2>Hello there {{firstname}}</h2>
{{else}}
{{/if}}

<div class="row">

  <div class="col s12 m12 l6" id="firstrowimage">
    <article class="hovereffect">
      <img src="../images/restaurants.jpg">
      <header>
        <a class="img-responsive" href="/find/Restaurant">
          <div class="overlay">
            <h2>Restaurants</h2>
          </div>
        </a>
      </header>
    </article>
  </div>

  <div class="col s12 m12 l6" id="secondrowimage">

    <div class="col s12 m6 l6">
      <article class="hovereffect">
        <img class="img-responsive" src="../images/entertainment.jpg">
        <header>
          <a class="img-responsive" href="/find/Entertainment">
            <div class="overlay">
              <h2>Entertainment</h2>
            </div>
          </a>
        </header>
      </article>
    </div>
    <div class="col s12 m6 l6" id="thirdrowimage">
      <article class="hovereffect">
        <img class="img-responsive" src="../images/retail.jpg">
        <header>
          <a class="img-responsive" href="/find/Retail">
            <div class="overlay">
              <h2>Retail</h2>
            </div>
          </a>
        </header>
      </article>
    </div>
    <div class="col s12 m6 l6">
      <article class="hovereffect">
        <img class="img-responsive" src="../images/bar.jpg">
        <header>
          <a class="img-responsive" href="/find/Restaurant">
            <div class="overlay">
              <h2>Bars</h2>
            </div>
          </a>
        </header>
      </article>
    </div>
    <div class="col s12 m6 l6">
      <article class="hovereffect" id="fifthrowimage">
        <img class="img-responsive" src="../images/rubuildings.jpg">
        <header>
          <a class="img-responsive" href="/find/RUBuilding">
            <div class="overlay">
              <h2>RU Buildings</h2>
            </div>
          </a>
        </header>
      </article>
    </div>
  </div>
</div>


