<div class = "container">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="user_name" type="text" class="validate">
          <label for="user_name">User Name</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        
      </div>
    </div>
    <div class="col S12">
        <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Sign Up</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>User Registration</h4>
       <form class="col s12">

          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Placeholder" id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
        
          <div class="row">
            <div class="input-field col s6">
              <input id="user_name" type="text" class="validate">
              <label for="user_name">User Name</label>
            </div>
            <div class="input-field col s6">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email" data-error="Enter a valid Email address">Email</label>
            </div>
          </div>
        </form>
    </div>
    <div class="modal-footer">
      <a href="#!" type="submit" class=" modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
  </div>
    </div> 
  </div>
</div>