<div class="container">
  <div class="row">
    <div class="col s5">
      <h3>{{category}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s12">Filter will go here</div>
  </div>
  <hr>

  <div class="row">
    <div class="col s6">
      <div class="row">
        <div class="col s4">
          <img src="http://lorempicsum.com/nemo/125/70/5">
        </div>
        <div class="col s8">
          <a href="#">Business Name</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          What it says in the review....
        </div>
      </div>
    </div>

    <div class="col s6">
      <div class="row">
        <div class="col s4">
          <img src="http://lorempicsum.com/nemo/125/70/5">
        </div>
        <div class="col s8">
          Business Name
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          What it says in the review....
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <div class="row">
        <div class="col s4">
          <img src="http://lorempicsum.com/nemo/125/70/5">
        </div>
        <div class="col s8">
          Business Name
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          What it says in the review....
        </div>
      </div>
    </div>

    <div class="col s6">
      <div class="row">
        <div class="col s4">
          <img src="http://lorempicsum.com/nemo/125/70/5">
        </div>
        <div class="col s8">
          Business Name
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          What it says in the review....
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <div class="row">
        <div class="col s4">
          <img src="http://lorempicsum.com/nemo/125/70/5">
        </div>
        <div class="col s8">
          Business Name
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          What it says in the review....
        </div>
      </div>
    </div>

    <div class="col s6">
      <div class="row">
        <div class="col s4">
          <img src="http://lorempicsum.com/nemo/125/70/5">
        </div>
        <div class="col s8">
          Business Name
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          What it says in the review....
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <div class="row">
        <div class="col s4">
          <img src="http://lorempicsum.com/nemo/125/70/5">
        </div>
        <div class="col s8">
          Business Name
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          What it says in the review....
        </div>
      </div>
    </div>

    <div class="col s6">
      <div class="row">
        <div class="col s4">
          <img src="http://lorempicsum.com/nemo/125/70/5">
        </div>
        <div class="col s8">
          Business Name
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          What it says in the review....
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <div class="row">
        <div class="col s4">
          <img src="http://lorempicsum.com/nemo/125/70/5">
        </div>
        <div class="col s8">
          Business Name
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          What it says in the review....
        </div>
      </div>
    </div>

    <div class="col s6">
      <div class="row">
        <div class="col s4">
          <img src="http://lorempicsum.com/nemo/125/70/5">
        </div>
        <div class="col s8">
          Business Name
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          What it says in the review....
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <ul class="pagination right">
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <li class="active"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li>
      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
  </div>

</div>


